body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.home p {
	font-size: 1.5rem;
}

nav {
	background-color: #242424;
	display: flex;
	justify-content: space-evenly;
	min-height: 10vh;
	align-items: center;
	font-family: monospace, sans-serif;
}

nav .nav-links {
	width: 20%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
}

.container {
	width: 60vw;
	margin: 2rem auto;
	color: #f1f1f1;
	background-color: #242424;
	padding: 2rem;
	font-family: monospace, sans-serif;
}

.container h1 {
	text-align: center;
	color: #bb86fc;
	font-size: 4rem;
	margin: 0 auto 1rem;
}

.container h2 {
	color: #03dac6;
	font-size: 2rem;
}

.container span {
	color: #bb86fc;
}

article {
	width: 90%;
	margin: 0 auto;
}

article h2 {
	text-align: center;
}

label,
input,
button {
	font-size: 1rem;
}

button {
	background-color: #0000ff;
	color: #f1f1f1;
	margin: 1rem auto;
	width: 100%;
}

#hidden {
	visibility: hidden;
	min-width: 250px;
	bottom: 30px;
	text-align: center;
	padding: 1rem 0;
	border-radius: 2px;
	left: 50%;
	margin-left: -125px;
	position: fixed;
	background-color: #f1f1f1;
	color: #f1f1f1;
}

#hidden.show {
	visibility: visible;
}

@media screen and (min-width: 860px) {
	label,
	input,
	button {
		font-size: 1.5rem;
	}

	button {
		margin: 1rem 1rem;
		width: 200px;
	}
}
